<div class="customer" >
  <h4><%= customer.full_name %></h4>
  <p>
    <strong>p:</strong> <%= customer.phone %>
  </p>
  <p>
    <strong>e:</strong> <%= customer.email %>
  </p>
  <p>
    <strong>City:</strong> <%= customer.city %>
  </p>
  <p>
    <strong>Province:</strong> <%= customer.province.name %>
  </p>
</div>
