<div class="col-md-12">
  <div class="well" >
    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= number_to_currency @product.price %>
    </p>

    <p>
      <strong>Type:</strong>
      <%= @product.type.name %>
    </p>

    <p>
      <%= image_tag @product.image, :size => '900x600' %>
    </p>
    <p><%= link_to 'Back', products_path %></p>
  </div>
</div>
