<!DOCTYPE html>
<html>
  <head>
    <title>Wonderful Wally's Bottleshop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">WWBS</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li><%= link_to 'About Us', about_path %></li>
        <li><%= link_to "Contact Us", :controller => :contacts, :action => :index %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Liqueur', categories_path(4) %></li>
            <li class="divider"></li>
            <li><%= link_to 'Liquor', categories_path(3) %></li>
            <li class="divider"></li>
            <li><%= link_to 'Wine', categories_path(2) %></li>
            <li class="divider"></li>
            <li><%= link_to 'Beer', categories_path(1) %></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="search" action="/products/srch/" method="get">
        <div class="form-group">
          <input type="text" class="form-control" name="search" placeholder="Enter search term here"value="">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</nav>

    <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
